# standard

alias ls='ls --color=auto --time-style="+%d/%m/%y %H:%M"'
alias clr='clear'
alias dt='date "+%H:%M:%S %d.%m.%y"'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto' 
alias igrep='grep -i --color=auto'
alias grp='grep'
alias diff='colordiff'
alias cl='tr -s " " | cut -d " " -f $1'
alias ll='ls -alh' 
alias ltr='ls -lhatr'
alias src='source'
alias db='dropbox'
alias .='source'
alias la='ls -lA'
alias l='ls -l'
alias vi='vim'
alias md='mkdir'
alias sudo='sudo '
alias pls='p ls'
alias p='sudo'
alias sim='sudo vim'
alias sus='sudo -s'
alias sui='sudo -i'
alias rut='sui'
alias more='less'
alias rm='rm -v'
alias cp='cp -v'
alias mv='mv -v'
alias ..='cd ..'
alias dir='echo "\e[0;31mQUACK!\n\e[0mYou are kidding, right?"'
alias srcz='source ~/.zshrc'
alias sl='ls'
alias top='htop'
alias c='pygmentize -O style=monokai -f console256 -g'

# misc
alias vimmuch='vim -c NotMuch'
alias sncmail='systemctl start --user fetchmail.service'
alias pjrnl='jrnl priv'
alias wjrnl='jrnl work'
alias wifion='nmcli r wifi on'
alias wifioff='nmcli r wifi off'
alias tw='vi -c TW'
alias wl='wunderline'
alias wld='wunderline done'
alias wli='wunderline list inbox'
alias wlw='wunderline list work'
alias wla='wunderline add'
alias wlaw='wunderline add --list=work'
alias incognito='chromium --incognito'
alias pw='pass show -c $1'
alias pass=gopass
alias snet='sudo netctl'
alias sduck='sr duckduckgo'
alias swiki='sr wikipedia'
alias syt='sr youtube'
alias saur='sr aur'
alias sawiki='sr archwiki'
alias sarchpkg='sr archpkg'
alias simdb='sr imdb'
alias sgoo='sr google'
alias stpb='sr piratebay'
alias pong='ping -c 3 www.google.com'
alias pingdns='ping 8.8.8.8'
alias online='gping 8.8.8.8'
alias eo='mimeo'
alias tc='tmux show-buffer | xclip -i -se p,c'
alias psa='ps axu'
alias psu='psa'
alias psx='psa'
alias renet-wasp='sc-restart netctl-auto@wlp2s0.service; sc-restart netctl-ifplugd@eno1.service'
alias renet-mantis='sudo killall dhcpcd && sc-restart netctl-auto@wlp2s0.service; sc-restart netctl-ifplugd@eno1.service'
alias renet-hornet='sudo killall dhcpcd ; sc-restart netctl-auto@wlp3s0.service; sc-restart netctl-ifplugd@enp0s25.service'
alias renet=renet-$(hostname)
alias epson_print='lp -d EPSON_WF-3620_Series -o media=A4 $1'
alias mbend='wdm=$(ls /dev/cdc-wdm?) && sudo mbim-network ${wdm} stop && sudo rm -f /tmp/mbim-network-state-cdc-wdm?'
alias stpnet='sc-stop netctl-auto@wlan0.service'
alias psac='psa|sort -nrk+3|head'
alias psam='psa|sort -nrk+4|head'
alias mnt='sudo mount'
alias mntall='mnt -a'
alias mntnas='mnt /media/nas'
alias setwp='feh --bg-scale --no-fehbg $1'
alias hisrch='hist|grep $1'
alias hist='fc -li 1'
alias ddwn='wget $(xclip -o) -P /tmp/dwn/'
alias sandstorm="mp -nocache http://a.tumblr.com/tumblr_m3eat8besa1r3sgeio1.mp3" 
alias tf='transfer'
alias mp='mplayer'
alias cam='mplayer tv://'
alias rmd='recordmydesktop --no-sound'
alias blset='brightnessctl s $1'
alias blget='brightnessctl | egrep -o "[0-9]+%" --color=never'
alias sc-failed='sudo systemctl --failed'
alias sc-jou='sudo journalctl -a'
alias sc-jouf='sc-jou -f'
alias sc-daemon-reload='sudo systemctl --system daemon-reload'
alias sc-joun='sc-jou -n'
alias re='reset'
alias du.='du -sh'
alias cdu.='cdu -sidh'
alias pubip='curl "ipinfo.io/ip"'
alias wttr='curl wttr.in'
alias flushc='sudo sync && echo 3 | sudo tee /proc/sys/vm/drop_caches > /dev/null && echo -ne "\033[32mCache purged.\n\007"'
alias uzic='cvlc http://stream03.uzic.ch:9010/'
alias redpill='cvlc https://radio.2f30.org:8443/red.mp3'
alias bluepill='cvlc https://radio.2f30.org:8443/blue.mp3'
alias gbfm='cvlc http://gbs03.de:7220/'
alias radio32='cvlc http://rstreaming.solnet.ch:8000/radio32'
alias radiox='cvlc https://mp3.radiox.ch/standard.mp3'
alias difm='cvlc "http://pub4.di.fm/di_minimal_aac?type=.flv"'
alias clock='tty-clock -s -c -C 6 -B'
alias :q='exit'
alias witch='which'
alias mu='neomutt'
alias wee='weechat-curses'
alias wb='whalebrew'
alias pm='ponymix'
alias pmd='ponymix decrease 5'
alias pmu='ponymix increase 5'
alias khali='khal interactive'
alias sa='ssh-add'
alias s='ssh'
#tmux
alias txl='tmux list-sessions'
alias txk='tmux kill-session -t $1'
alias txn='tmux new-session'
alias txa='tmux attach-session -t $1'

# tools
alias tf=terraform
alias az='podman run --rm -v /home/eye/.azure:/root/.azure microsoft/azure-cli az'
alias azd='podman run --rm -v /home/eye/.azure:/root/.azure azuresdk/azure-cli-python:dev az'
alias oci='podman run --rm -v /home/eye/.oci:/root/.oci -v $(pwd):/tmp eyenx/oci'
alias k=kubectl
alias kc=kubectl
alias kn=kubens

# kill aliases
alias ka='killall'
alias killf='killall firefox'
alias killmpd='killall mpd && killall mpdscribble'
alias killmp='killall mplayer'

#archlinux/pacman specific
alias pacman='yay'
alias pacups='pacman -Qu'
alias pacupg='pacman -Su'
alias paclocpretty="pacman -Qi | sed '/^Depends On/,/^Required By/{ s/^Required By.*$//; H; d }; /^Name/!d; /^Name/{ n;x;}'| sed '/^$/s//==================================================================================/'"

# xrandr

alias xr='xrandr'
alias xrdock='xrandr --output HDMI1 --auto && xrandr --output eDP-1 --off && feh --bg-scale --no-fehbg ~/.wp.jpg'
alias xrhome='xrandr --output HDMI1 --auto && xrandr --output eDP-1 --auto --left-of HDMI1'
alias xroffice='~/.screenlayout/office_inv_2mon.sh && feh --bg-scale --no-fehbg ~/.wp.jpg'
alias xrundock='~/.screenlayout/undocked.sh && feh --bg-scale --no-fehbg ~/.wp.jpg'
alias xrhome='~/.screenlayout/home.sh && feh --bg-scale --no-fehbg ~/.wp.jpg'

# dotfiles git alias

alias dit='git --git-dir=$HOME/.dotfiles.git/ --work-tree=$HOME'
alias pit='git --git-dir=$HOME/.privdotfiles.git/ --work-tree=$HOME'
alias gitgraph="git log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all" 

# shutdown aliases
alias reboot='sudo systemctl reboot'
alias shutdown='sudo systemctl poweroff'
alias fyyrobig='shutdown'
