# standard

alias ls='ls --color=auto'
alias c='clear'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias grepi='grep -i --color=auto'
alias grepir='grep -ir --color=auto'
alias diff='colordiff'
alias cl='tr -s " " | cut -d " " -f $1'
alias ll='ls -alFh --time-style="+%d-%m-%Y"'
alias latr='ls -lhatr'
alias src='source'
alias .='source'
alias la='ls -A'
alias l='ls -CF'
alias vi='vim'
alias sim='sudo vim'
alias sus='sudo -s'
alias more='less'
alias rm='rm -v'
alias cp='cp -v'
alias mv='mv -v'
alias ..='cd ..'
alias pacman='sudo pacman-color'
alias lpac='/usr/bin/pacman-color'
alias dir='echo "\e[0;31mQUACK!\n\e[0mYou are kidding, right?"'
alias srcz='source ~/.zshrc'
alias sl='ls'
# misc

alias pong='ping -c 3 www.google.com'
alias eo='mimeo'
alias getxbf='tmux show-buffer | xclip -i -se p,c'
alias psu='ps axu'
alias psg='psu | grep -v "grep" | grep -i $1 '
alias renet='syd restart network.service'
alias mntall='sudo mount -a'
alias mnt='sudo mount'
alias ij='eject -t'
alias ej='eject'
alias mntnas='sudo systemctl start media-nas.mount'
alias mntcd='sudo mount /dev/sr0 /mnt -t iso9660'
alias conrest='killall -SIGUSR1 conky'
alias pacupd='packer -Su'
unalias pacupg 2>/dev/null
alias upds='/usr/bin/pacman -Qu'
alias appfind='/usr/bin/xfce4-appfinder' 
alias pacsync='pacman -Syy'
alias setwp='feh --bg-scale --no-fehbg $1'
alias hisrch='hist|grep $1'
alias hist='fc -li 1'
alias paccle='pacman -Runsc $(/usr/bin/pacman -Qdtq)'
alias ddwn='wget $(xclip -o) -P /tmp/dwn/'
alias ytdl='mkdir -p /tmp/yt && youtube-dl --max-quality 37 -q -o "/tmp/yt/%(title)s.%(ext)s" $(xclip -o) &'
alias mpcyt='mpyt $(xclip -o)'
alias vb='vboxmanage'
alias mp='mplayer'
alias cam='mplayer tv://'
alias trns='transmission-remote'
#alias calc='python -ic "from __future__ import division; from math import *; from random import *"'
alias syd='sudo systemctl'
alias sydfa='syd --failed'
alias sydst='syd status'
alias sydls='syd list-units'
alias sydre='syd restart'
alias sydjou='sudo journalctl -a'
alias sydjouf='sydjou -f'
alias syddare='syd --system daemon-reload'
alias sydjoun='sydjou -n'
alias pacremtod='echo -e "Packages removed today:\n" && grep $(date +%F) /var/log/pacman.log | grep removed | cl 4-'
alias pacinsttod='echo -e "Packages installed today:\n" && grep $(date +%F) /var/log/pacman.log | grep installed | cl 4-'
alias xmore='xmonad --recompile; xmonad --restart'
alias rng='ranger'
alias re='reset'
alias du.='du -sh .'
alias vbtap='xinit /usr/bin/VirtualBox --startvm "tav" -- :2 &>/tmp/.vbtap_xsession_log &'
alias chromgl='chromium --ignore-gpu-blacklist'
alias flushc='sudo sync && echo 3 | sudo tee /proc/sys/vm/drop_caches > /dev/null && echo -ne "\033[32mCache purged.\n\007"'
alias minimal='mplayer http://128.179.101.9:9010 -nocache'
alias uzict='wget -qO- http://www.uzic.ch/accueil.php | sed -n '\''s/.*<marquee\ scrollamount\=3><b>\(.*\)<\/b>.*/\1/p'\'
alias :q='exit'
alias witch='which'
alias mu='echo "Welcome to mutt"|cowsay;sleep 1;mutt'
#tmux
alias txl='tmux list-sessions'
alias txk='tmux kill-session -t $1'
alias txn='tmux new-session'
alias txa='tmux attach-session -t $1'

# dotfiles git alias

alias dgit='git --git-dir=$HOME/.dotfiles.git/ --work-tree=$HOME'

#fasd alias
#alias v='fasd $1 -e vim'
#alias o='fasd $1 -e mimeo'

# shutdown aliases
alias reboot='[ `pidof mpd` ] && mpc stop &>/dev/null && mpd --kill;echo "rebooting..."; sleep 2;sudo systemctl reboot'
alias shutdown='[ `pidof mpd` ] && mpc stop &>/dev/null && mpd --kill;echo "shutting down..."sleep 2;sudo systemctl poweroff'
