# standard

alias ls='ls --color=auto --time-style="+%d/%m/%y %H:%M"'
alias c='clear'
alias dt='date'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias igrep='grep -i --color=auto'
alias grp='grep'
alias diff='colordiff'
alias cl='tr -s " " | cut -d " " -f $1'
alias ll='ls -alh' 
alias ltr='ls -lhatr'
alias src='source'
alias db='dropbox'
alias .='source'
alias la='ls -lA'
alias l='ls -l'
alias vi='vim'
alias sim='sudo vim'
alias sus='sudo -s'
alias more='less'
alias rm='rm -v'
alias cp='cp -v'
alias mv='mv -v'
alias ..='cd ..'
alias dir='echo "\e[0;31mQUACK!\n\e[0mYou are kidding, right?"'
alias srcz='source ~/.zshrc'
alias sl='ls'
alias udo='sudo'
# misc

alias snet='sudo netctl'
alias sduck='sr duckduckgo'
alias swiki='sr wikipedia'
alias syt='sr youtube'
alias saur='sr aur'
alias sawiki='sr archwiki'
alias sarchpkg='sr archpkg'
alias simdb='sr imdb'
alias sgoo='sr google'
alias stpb='sr piratebay'
alias pong='ping -c 3 www.google.com'
alias eo='mimeo'
alias getxbf='tmux show-buffer | xclip -i -se p,c'
alias psu='ps axu'
alias psa='psu'
alias psx='psu'
alias psg='psu | grep -v "grep" | grep -i $1'
alias renet='sc-restart netctl-auto@wlan0.service; sc-restart netctl-ifplugd@eth0.service'
alias stpnet='sc-stop netctl-auto@wlan0.service'
alias psuc='psu|sort -nrk+3|head'
alias psum='psu|sort -nrk+4|head'
alias mntall='sudo mount -a'
alias mnt='sudo mount'
alias ij='eject -t'
alias ej='eject'
alias mntnas='sudo systemctl start media-nas.mount'
alias mntcd='sudo mount /dev/sr0 /mnt -t iso9660'
alias conrest='killall -SIGUSR1 conky'
alias appfind='/usr/bin/xfce4-appfinder' 
alias setwp='feh --bg-scale --no-fehbg $1'
alias hisrch='hist|grep $1'
alias hist='fc -li 1'
alias ddwn='wget $(xclip -o) -P /tmp/dwn/'
alias ytdl='mkdir -p /tmp/yt && youtube-dl --no-playlist -q -o "/tmp/yt/%(title)s.%(ext)s" $(xclip -o) &'
alias mpcyt='mpyt $(xclip -o)'
alias gn='geeknote'
alias vb='vboxmanage'
alias mp='mplayer'
alias cam='mplayer tv://'
alias blset='xbacklight -steps 1 -time 0 -set $1'
alias blget='xbacklight'
alias trns='transmission-remote roach'
alias trnsll='transmission-remote localhost'
#alias calc='python -ic "from __future__ import division; from math import *; from random import *"'
alias sc-failed='sudo systemctl --failed'
alias sc-jou='sudo journalctl -a'
alias sc-jouf='sc-jou -f'
alias sc-daemon-reload='sudo systemctl --system daemon-reload'
alias sc-joun='sc-jou -n'
alias xmore='xmonad --recompile; xmonad --restart'
alias rng='ranger'
alias re='reset'
alias du.='du -sh'
alias cdu.='cdu -sidh'
alias vbtap='xinit /usr/bin/VirtualBox --startvm "tav" -- :2 &>/tmp/.vbtap_xsession_log &'
alias todo='rtm -c ls'
alias chromgl='chromium --ignore-gpu-blacklist'
alias pubip='wget checkip.dyndns.org -qO-|egrep -o "[0-9]{1,3}(\.[0-9]{1,3}){3}"'
alias flushc='sudo sync && echo 3 | sudo tee /proc/sys/vm/drop_caches > /dev/null && echo -ne "\033[32mCache purged.\n\007"'
alias minimal='mp http://128.179.101.9:9010 -nocache'
alias uzict='wget -qO- http://www.uzic.ch/accueil.php | sed -n '\''s/.*<marquee\ scrollamount\=3><b>\(.*\)<\/b>.*/\1/p'\'
alias coffeeshop='mplayer -nocache http://coffitivity.com/other/cleanupcut.mp3'
alias clock='tty-clock -s -c -C 4 -B'
alias :q='exit'
alias witch='which'
alias mu='echo "Welcome to mutt"|cowsay;sleep .5;mutt'
alias wee='weechat-curses'
#tmux
alias txl='tmux list-sessions'
alias txk='tmux kill-session -t $1'
alias txn='tmux new-session'
alias txa='tmux attach-session -t $1'

# kill aliases
alias ka='killall'
alias killf='killall firefox'
alias killmpd='killall mpd && killall mpdscribble'
alias killmp='killall mplayer'

#archlinux/pacman specific
alias lpac='pacman'
alias spac='sudo pacman'
alias pacups='pacman -Qu'
alias pacupg='sudo packer -Su'
alias paclocpretty="pacman -Qi | sed '/^Depends On/,/^Required By/{ s/^Required By.*$//; H; d }; /^Name/!d; /^Name/{ n;x;}'| sed '/^$/s//==================================================================================/'"

# dotfiles git alias

alias dit='git --git-dir=$HOME/.dotfiles.git/ --work-tree=$HOME'
alias ditupd='dit f upstream;dit m upstream/master'

# shutdown aliases
alias reboot='sudo systemctl reboot'
alias shutdown='sudo systemctl poweroff'
