[user]
	name = eye
        email = eye@eyenx.ch
	signingkey = 0796132F0077A5F8

[alias]
	s=status
	ss=status -s -uno
	d=rm --cached
	ci=commit 
    cia=commit -a
	co=checkout
	a=add
	af=add -f
	cl=clone
	di=diff
	m=merge
	br=branch
	ps=push
	pl=pull
	lg=log -p
	ls=ls-files
    f=fetch
[push]
	default = simple
[commit]
	gpgsign = true
