[user]
	name = gnomeye
	email = gnomeye@gmail.com

[alias]
	s=status
	ss=status -s -uno
	d=rm --cached
	ci=commit 
    cia=commit -a
	co=checkout
	a=add
	af=add -f
	cl=clone
	di=diff
	m=merge
	br=branch
	ps=push
	pl=pull
	lg=log -p
	ls=ls-files
    f=fetch
[push]
	default = simple
