! terminal colors ------------------------------------------------------------
*background: #1c1d1f
*foreground: #b0b0b0
! Special Orange
!URxvt*color0:#1c1d1f
!URxvt*color1:#FF0000
!URxvt*color2:#00FF00
!URxvt*color3:#FFFF00
!URxvt*color4:#085dad
!URxvt*color5:#FF00FF
!URxvt*color6:#00FFFF
!URxvt*color7:#B0B0B0
!URxvt*color8:#e04614
!URxvt*color9:#AA0000
!URxvt*color10:#00AA00
!URxvt*color11:#A8350F
!URxvt*color12:#6599FF
!URxvt*color13:#AA00AA
!URxvt*color14:#00AAAA
!URxvt*color15:#999999
*fading: 40
*fadeColor: #1c1d1f
!URxvt*color0:#1c1d1f
!URxvt*color1:#FF0000
!URxvt*color2:#00FF00
!URxvt*color3:#FFFF00
!URxvt*color4:#085dad
!URxvt*color5:#FF00FF
!URxvt*color6:#00FFFF
!URxvt*color7:#B0B0B0
!URxvt*color8:#1793d0
!URxvt*color9:#AA0000
!URxvt*color10:#00AA00
!URxvt*color11:#AAAA00
!URxvt*color12:#6599FF
!URxvt*color13:#AA00AA
!URxvt*color14:#00AAAA
!URxvt*color15:#999999
! tangoesque scheme
! ! Black (not tango) + DarkGrey
*color0:  #1c1d1f
*color8:  #555753
!! ! DarkRed + Red
*color1:  #9f2424
*color9:  #ef2929
!! ! DarkGreen + Green
*color2:  #4e9a06
!*color10: #8ae234
*color10: #74d41b
!! ! DarkYellow + Yellow
*color3:  #c4a000
!*color11: #fce94f
*color11: #A8350F
!! ! DarkBlue + Blue
*color4:  #085dad
*color12: #739fcf
!! ! DarkMagenta + Magenta
*color5:  #75507b
!*color13: #ad7fa8 
*color13: #9d5c96 
!! !DarkCyan + Cyan (both not tango)
*color6:  #06989a
*color14: #34e2e2
!! ! LightGrey + White
*color7:  #b0b0b0
*color15: #9f9f9f
!
! other urxvt options
URxvt.perl-ext: default,url-select
!,tabbed
URxvt*internalBorder:0
URxvt.urgentOnBell: true
!URxvt*tabbed.tabbar-bg:0
!URxvt*tabbed.tabbar-fg:8
!URxvt*tabbed.tab-bg:0
!URxvt*tabbed.tab-fg:8
URxvt*keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/firefox -new-tab
URxvt.url-select.underline: true
URxvt*matcher.button: 1
URxvt*termName:screen-256color
!URxvt*termName:screen
!URxvt.font:xft:Inconsolata for Powerline:size=8
!URxvt.font:xft:Terminus (TTF) for Powerline:size=8
URxvt.font:xft:DejaVu Sans Mono for Powerline:size=7
!URxvt.font:xft:Zekton:size=6
!URxvt.font:xft:Liberation Mono for Powerline:size=7
!URxvt*letterSpace: 0
URxvt.saveLines:10000
URxvt.iconFile:/home/eye/.icons/ACYLBlue/scalable/apps/terminal.svg
URxvt.geometry:70x35
URxvt.scrollBar: off
URxvt*cursorUnderline: 1
URxvt*underlineColor: #e04614

! Xcursor -------------------------------------------------------------------

Xcursor.theme: aterred
Xcursor.size: 16


! xscreensaver --------------------------------------------------------------
!font settings
xscreensaver.Dialog.headingFont: xft:zekton:size=7
xscreensaver.Dialog.bodyFont: xft:zekton:size=7
xscreensaver.Dialog.labelFont: xft:zekton:size=7
xscreensaver.Dialog.unameFont: xft:zekton:size=7
xscreensaver.Dialog.buttonFont: xft:zekton:size=7
xscreensaver.Dialog.dateFont: xft:zekton:size=7h
xscreensaver.passwd.passwdFont: xft:zekton:size=7
!general dialog box
xscreensaver.Dialog.foreground: #b0b0b0
xscreensaver.Dialog.background: #1c1d1f
xscreensaver.Dialog.topShadowColor: #1c1d1f
xscreensaver.Dialog.bottomShadowColor: #1c1d1f
xscreensaver.Dialog.Button.foreground:  #b0b0b0
xscreensaver.Dialog.Button.background:  #1c1d1f
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #b0b0b0
xscreensaver.Dialog.text.background: #1c1d1f
xscreensaver.Dialog.borderWidth:        0
xscreensaver.Dialog.shadowThickness:    0
xscreensaver.passwd.thermometer.foreground: #1c1d1f
xscreensaver.passwd.thermometer.background: #1c1d1f
xscreensaver.passwd.thermometer.width: 0
!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat:    %H:%M - %a %d. %b %Y

Xft.dpi: 96
Xft.autohint: 0
Xft:lcdfilter: lcddefault
!Xft:lcdfilter: lcdlight
Xft.rgba: rgb
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.antialias: 1
