! terminal colors ------------------------------------------------------------
*background: #30200f
*foreground: #e6c6b0
*cursorColor: #93a1a1

!! black dark/light
*color0: #30200f
*color8: #362411

!! red dark/light
*color1: #8c644c
*color9: #9f7155

!! green dark/light
*color2: #c4be90
*color10: #bec17e

!! yellow dark/light
*color3: #bfba92
*color11: #fafac0

!! blue dark/light
*color4: #646a6d
*color12: #626e74

!! magenta dark/light
*color5: #6d6871
*color13: #756f7b

!! cyan dark/light
*color6: #3b484a
*color14: #444d4e

!! white dark/light
*color7: #a68f7f
*color15: #e6c6b0

! other urxvt options ------------------------------------------------------
URxvt.perl-ext: default,url-select
!,font-size
!URxvt.keysym.C-Up:     perl:font-size:increase
!URxvt.keysym.C-Down:   perl:font-size:decrease
!URxvt.keysym.C-S-Up:   perl:font-size:incglobal
!URxvt.keysym.C-S-Down: perl:font-size:decglobal
!URxvt.keysym.C-equal:  perl:font-size:reset
!URxvt.keysym.C-slash:  perl:font-size:show
!,tabbed
URxvt*internalBorder:0
URxvt.urgentOnBell: true
!URxvt*tabbed.tabbar-bg:0
!URxvt*tabbed.tabbar-fg:8
!URxvt*tabbed.tab-bg:0
!URxvt*tabbed.tab-fg:8
URxvt*keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/firefox -new-tab
!URxvt.url-select.launcher: /usr/bin/chromium
URxvt.url-select.underline: true
URxvt*matcher.button: 1
URxvt*termName:screen-256color
!URxvt*termName:screen
!URxvt.font:xft:Liberation Mono for Powerline:size=8
URxvt.font:xft:Liberation Mono:size=8
!URxvt*letterSpace: 0 URxvt.saveLines:10000 URxvt.iconFile:/home/eye/.icons/ACYLBlue/scalable/apps/terminal.svg URxvt.geometry:70x35
URxvt.scrollBar: off
URxvt*cursorUnderline: 1
URxvt*underlineColor: #A3583B

! Xcursor -------------------------------------------------------------------

Xcursor.theme: aterred
Xcursor.size: 16

! Xft -----------------------------------------------------------------------
Xft.dpi: 96
Xft.autohint: 0
Xft:lcdfilter: lcddefault
!Xft:lcdfilter: lcdlight
Xft.rgba: rgb
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.antialias: 1

