! global options 
*.font: Liberation Mono:size=8:antialias=true:autohint=true
*.alpha: 1.0

! Xcursor

Xcursor.theme: aterred
Xcursor.size: 16

! Xft
Xft.dpi: 96
Xft.autohint: 0
Xft:lcdfilter: lcddefault
Xft.rgba: rgb
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.antialias: 1

! Base16 Mocha
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #3b3228
#define base01 #a69e4f
#define base02 #dba97a
#define base03 #7e705a
#define base04 #779a9c
#define base05 #d0c8c6
#define base06 #9287a1
#define base07 #f5eeeb
#define base08 #cb6077
#define base09 #d28b71
#define base0A #f4bc87
#define base0B #beb55b
#define base0C #7bbda4
#define base0D #8ab3b5
#define base0E #a89bb9
#define base0F #bb9584

*default:   base00
*foreground:   base05
*background:   base00
*cursorColor:  base05

*color: base00
*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07
